//* CLIENTS */
  .clients__title{
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0;
  }
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 0;
  }
  .clients-list__item {
    display: block;
    width: calc((100% - 150px) / 6);
    margin-right: 30px;

    &:last-child {
      margin-right: 0px;
    }
  }
  .clients-list__thumb-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
  
    background-color: $additional-color;
    border: 1px solid #afb1b8;
    border-radius: 4px;
  
    @include trans-func();

    &:hover, &:focus {
      border: 1px solid $accent-color;
      border-radius: 4px;
      --color5: $accent-color;
      fill: $accent-color;
    }
    // &:hover svg {
    //   --color5: $accent-color;
    //   fill: $accent-color;
    // }
  }
   